# Bar Charts

In [1]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [2]:
df = pd.read_csv('Data/2018WinterOlympics.csv')

In [4]:
df.head()

   Rank            NOC  Gold  Silver  Bronze  Total
0     1         Norway    14      14      11     39
1     2        Germany    14      10       7     31
2     3         Canada    11       8      10     29
3     4  United States     9       8       6     23
4     5    Netherlands     8       6       6     20

## Bar Plot

In [5]:
data = [go.Bar(x=df['NOC'],y=df['Total'])]
layout = go.Layout(title='Medals by countries',
                   xaxis=dict(title='Country'),
                   yaxis=dict(title='Total Medals'))

fig = go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='plots/medals.html')

'plots/medals.html'

## Stacked Bar Chart

In [8]:
# Need to create traces per category

trace1 = go.Bar(x=df['NOC'],y=df['Gold'], name='Gold', marker={'color':'#ebae34'})
trace2 = go.Bar(x=df['NOC'],y=df['Silver'], name='Silver', marker={'color':'#dae0de'})
trace3 = go.Bar(x=df['NOC'],y=df['Bronze'], name='Bronze', marker={'color':'#b3a894'})

data = [trace1,trace2,trace3]
layout = go.Layout(title='Types of medals by countries',
                   xaxis=dict(title='Country'),
                   yaxis=dict(title='Total Medals'),
                   barmode='stack')    #need to specify barmode otherwise nested bar plot will be drawn

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig, filename='plots/medals_types.html')

'plots/medals_types.html'

## Exercise

In [9]:
df = pd.read_csv('Data/mocksurvey.csv')
df.head()

,Unnamed: 0,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
0,Question 1,0.45,0.25,0.10,0.12,0.08
1,Question 2,0.12,0.07,0.48,0.18,0.15
2,Question 3,0.05,0.22,0.19,0.23,0.31

In [12]:
df.set_index('Unnamed: 0', inplace=True)

In [16]:
data = [go.Bar(x=df.index, y=df[col], name=col) for col in df.columns]
layout = go.Layout(title='Survey Responses',
                   xaxis=dict(title='Question'),
                   yaxis=dict(title='Response'),
                   barmode='stack')

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig, filename='plots/response_exercise.html')

'plots/response_exercise.html'